{% extends 'base.html' %}

{% block content %}
<div>
    <a href="/"><button  class="btn btn-primary btn-lg" role="button"> Back to home</button></a>
    <a href = "/yapp"><button type="button" class="btn btn-info btn-lg  ml-auto">Uploaded apps</button></a>
</div>
<br>
<div>
    
<a href = "/newApp"><button type="button" class="btn btn-warning btn-lg btn-block">Upload an app</button></a>
</div>


<h2>Welcome to the App Store!</h2>
<ul class="list-group list-group-flush">
{% for ser in names %}
<li class="list-group-item well"></strong><a href = /app/{{ser.id}}>{{ser.name}}</a></li>
{% endfor %}
</ul>

{% csrf_token %}
{% endblock %}
