{% extends 'base.html' %}
{% load static %}
{% block content %}
<a href="/"><button  class="btn btn-primary btn-lg" role="button"> Back to home</button></a>
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
        
        <div class = 'text-center'>
            <h1>{{meme.name}}</h1>
        </div>
        <div class = 'card '>
            <img src= "/media/{{MEDIA_URL}}{{meme.document}}" alt="{{meme.name}}"/>
            {{meme.definition}}
            
        </div>
        


{%endblock%}
